<div class="panel panel-default">
  

    <div class="panel-body">
  
        <div class="jumbotron">
            <h1>{{poly.info}}</h1>
        </div>
  
      <div class="panel-image imgClick">
          <img src="../../../assets/opole.jpg" alt="">       
      </div>
    
        <div class="text-center">
          <h5><i class="fa fa-coffee"></i>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil ullam laboriosam illo obcaecati. Sed similique repellendus reiciendis adipisci asperiores, omnis incidunt magnam? Consectetur inventore blanditiis suscipit qui beatae quos dicta!</h5>
        </div>  
      </div>
    
    </div>
    
    <div>