<!--The content below is only a placeholder and can be replaced.-->
<h1>{{title}}</h1>
<div class="row">
  <div class="col-md-12">
      <div class="col-md-9">
<agm-map [latitude] = "lat" [longitude] = "lng">
  <agm-marker *ngFor="let point of dataPoints" [latitude]="point.point.lat" [longitude]="point.point.lng" (markerClick)="markerClicked(point.info)">
    
    

    <agm-info-window [disableAutoPan]="false" #infoWindow>

      <div>
        <div class="xd"><app-info [hidden]="!isClicked">{{point.info}}</app-info></div>
      </div>
      <div>
          <a (click)="onClickInfoView()" class="btn btn-attention pull-right"> <i class="fa fa-angle-double-right"></i></a>
      </div>

    </agm-info-window>

  </agm-marker>


  <agm-polygon *ngFor="let poly of dataPolygons" [paths]="poly.points" (polyClick)="polyClicked(poly.info)"></agm-polygon>


  <!-- <agm-info-window [longitude]=23.23456 [latitude]=34.6789 [disableAutoPan]="false" #infoWindow>

    <div>
      <div class="xd"><app-info [hidden]="!isClicked">{{point.info}}</app-info></div>
    </div>
    <div>
        <a (click)="onClickInfoView()" class="btn btn-attention pull-right"> <i class="fa fa-angle-double-right"></i></a>
    </div>

  </agm-info-window> -->
  

</agm-map>
</div>

<div class="col-md-3">
    <app-info [hidden]="!isClicked">{{point.info}}</app-info>
    <button class="btn btn-success" (click)="closeInfoWindow()"></button> 
</div>
</div>



