<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar">
    <h1>{{title}}</h1>
</div>


<agm-map [latitude] = "lat" [longitude] = "lng" [disableDefaultUI]="true">
  <h1>XDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD</h1>
  <agm-marker *ngFor="let point of dataPoints" [latitude]="point.point.lat" [longitude]="point.point.lng">
    
    <agm-info-window [disableAutoPan]="false" #infoWindow>

      <app-info [point]="point"></app-info>

    </agm-info-window>
  </agm-marker>
  

  <agm-polygon *ngFor="let poly of dataPolygons; let i = index" [paths]="poly.points" (polyClick)="polyClicked(i, poly, infoWindow)">
      <agm-info-window  [disableAutoPan]="false" #infoWindow [latitude]="lat" 
      [longitude]="lng" [isOpen]="infoWindow.isOpen"> 

           <app-polyInfo [poly]="poly"></app-polyInfo> 
    
      </agm-info-window>
    
    
  </agm-polygon>
 

</agm-map>




